.icon {
  -webkit-mask-size: cover;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

/* .icon-search-hr {
  mask-image: url("../icons/search-icon-hr.svg");
  -webkit-mask-image: url("../icons/search-icon-hr.svg");
} */
